/* importa as fontes do texto*/
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Roboto:wght@300;500;700&display=swap');

/* Zera margens e espaçamentos internos*/
*{
	margin: 0; padding: 0;
}

/*Altera cor de fundo*/
body{
	background-color:#F5F5F5;
	
}

section{

}

/*Formata a cor do menu e tamnho*/
nav{
	height: 50px;
	background-color:#047BC1;
	box-sizing: border-box;
}

/* Alinha os icones e o menu*/
.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Alinha o menu*/
.menu-items{
	display: inline-flex;
	list-style: none;
	margin-right: 10px;
	padding: 10px;
}


/*Formata o menu*/
.menu-items li a {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	font: 1.2rem 'Calistoga', serif;
	margin-right: 20px;
}


/*Margem esquerda dos icones*/
.social-icons{
	margin-left: 10px;
}


/*Espaçamento entre os icones*/
.social-icons a {
	margin-left: 15px;
}

/*hover estado do a passar maouse sobre*/
.a-menu{
	margin-right: 30px;
}
/*alink = depoisd e carregado
  a:visited = Depois de clicado
*/
.a-menu:link, .a-menu:visited{
	color: #FFF;
} 
/*a:hover = Quando está sobre
  a:active = Quando está apertado*/
  .a-menu:hover, .a-menu:active{
  	color: #B2EBF2;
  }

/*Tamanho do banner*/

header img {
	width: 100%;

}


/*Centraliza botões abaixo do banner*/
.button-container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.button-container img{
	width: 170px;
	margin-left: 20px;
} 


article{
	box-sizing: border-box;

}

#pag-igreja{
	margin: 50px 50px 50px;
}

/*Insere margem entre texto e foto da igreja*/
.text{
	margin-right: 140px;
}

h1{
	font: 3rem 'Calistoga', serif;
	color: #047BC1;
	text-align: left;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

#pag-igreja p{
	font: 1.2rem 'Calistoga', serif;
	color: #807D7D;
	text-align: justify;
	margin-left: 5px;
	padding-bottom: 10px;
}


/* Divide a pagina entre texto e foto da igreja*/
.igreja-container {
	display: flex;
	align-items: center;
}


/*Formata a imagem da igreja*/
.img-igreja{
	border-radius: 10%;
	height: 800px;
	width: 700px;
	border: solid 3px #047BC1;

}


/*Centraliza botão "Saiba mais "*/
.botao-saiba{
	display: flex;
	margin: 20px 5px;
}


/*Formata a página Programação Semanal*/
#pag-programacao p {
	font: 1.2rem 'Calistoga', serif;
	color: #807D7D;
	
}

li{
	font: 1.2rem 'Calistoga', serif;
	color: #807D7D;
}



h2{
	font: 3rem 'Calistoga', serif;
	color: #047BC1;
	text-align: left;
	font-weight: bold;
	margin: 30px 35px;
}

h3{
	font: 2rem 'Calistoga', cursive;
	color: #047BC1;
	text-align: center;
	margin: 25px 350px;
}


/*Centraliza o box de programação*/
#container-programacao{
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color:#047BC1;
}

/*Formata o box de programação*/
#box-programacao{
	width: 100%;
	height: 400px;
	background-color:#CFEEFF;
	
}

table{
	align-items: center;
	margin: 130px 130px;
}

.flex-card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 400px;
	margin-right: 400px;
}

.flex-card a{
	text-decoration: none;
}

.row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3px;
}

.card {
	width: 100%;
	padding: 30px;
	text-align: center;
	border-radius: 20px;
	
}

.card img {
	width: 100%;
	height: 80%;
	border-radius: 10px;
	border-top: 4px solid #047BC1;
}

.atv-button{
	width: 100%;
	display: flex;
	padding: 5px;
	color: #047BC1;
	cursor: pointer;
	margin-top: 5px;
	align-items: center;
	border-radius: 5px;
	text-decoration: none;
	justify-content: center;
	background-color: #CFEEFF;
	border: 2px solid #047BC1;
	font: 0.9rem'Calistoga', serif;
}


/* Formatação contatos*/
.contatos {
	border-top: 10px solid #047BC1;
	background-color: #CFEEFF;
	text-align: center;
	font-weight: bold;
	padding: 15px;
}

.contatos img{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	float: right;
}

.contatos h2 {
	margin-bottom: 10px;
	font-size: 40px;
	color: #047BC1;
	margin-top: 0;
}


.contatos h3 {
	display: inline;
	font-size: 20px;
	color: #047BC1;
	
}

.contatos p {
	font: 0.6rem'Roboto', serif;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	color: #807D7D;
}


.info {
	display: inline-block;
}

.info p{
	margin-left: 350px;
}


footer{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #047BC1;
}

footer p{
	font: 1rem 'Calistoga', serif;
	color: #FFF;
	text-align: center;
}

footer a{
	color: #FFF;
	text-decoration: none;
}



/*Página Saiba mais*/
#pag-quem{
	margin: 0 30px 30px;
	
}

#pag-quem h2 {
	font: 1.8rem 'Calistoga', serif;
	color: #047BC1;
	text-align: left;
	font-weight: bold;
}

#pag-quem img{
	width:100%;
}	

#pag-quem p{
	font: 1.2rem 'Calistoga', serif;
	color: #807D7D;
	text-align: justify;
	margin-top: 25px;
}

/*Pagina Palavra*/
#pag-palavras{
	margin-left: 25px;
	margin-right: 25px;
}

#pag-palavras h1{
	text-align: left;
	margin-top: 25px;
}

#pag-palavras p{
	font: 1.2rem 'Calistoga', serif;
	color: #807D7D;
	text-align: justify;
	margin-top: 25px;
}

#pag-palavras h2{
	text-align: center;
	margin-top: 25px;
}

#pag-videos{
	background-color: #CFEEFF;
	padding: 30px;
	border: 2px solid #047BC1;

}
.video-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.video-wrapper {
	max-width: 500px;
	height: 500px;S
	margin: 10px;
	margin: 30px;
}
/*formatção frase abaixo do vídeo*/
#pag-videos p{
	margin-top: 10px;
	text-align: center;
	color: #807D7D;
	font: 1.2rem 'Calistoga', serif;
}

/*Página estudo*/
#pag-estudo{
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 20px;
}


#pag-estudo img{
	width: 100%;
	margin-bottom: 20px;
}

#pag-estudo p{
	margin-top: 15px;
	text-align: justify;
	color: #807D7D;
	font: 1.2rem 'Calistoga', serif;
}


#texto-fim{
	margin-top: 40px;
}

#texto-fim p{
	text-align: center;
}

/*Página Grupos*/
#pag-grupos{
	margin: 0 25px;
}

#pag-grupos h1{
	text-align: left;
}

#pag-grupos p{
	margin-top: 15px;
	text-align: justify;
	color: #807D7D;
	font: 1.2rem 'Calistoga', serif;
}

#pag-grupos img{
	width: 100%;
	margin-top: 50px;
}

#texto-grupos{
	margin: 40px 0 40px;
}

#texto-grupos p{
	text-align: center;
}

/*Página Louvor*/
#pag-louvor{
	margin: 0 25px;
}

#pag-louvor img{
	width: 100%;
	margin-bottom: 40px;
}

#pag-louvor h1{
	text-align: left;
}

#pag-louvor p{
	margin-top: 15px;
	margin-bottom: 30px;
	text-align: justify;
	color: #807D7D;
	font: 1.2rem 'Calistoga', serif;
}

/*Página Liderança*/

#pag-lideranca{
	margin: 0 25px;
}

#pag-lideranca img{
	width: 100%;
	margin-bottom: 40px;
}

#pag-lideranca h1{
	text-align: left;
}

#pag-lideranca p{
	margin-top: 15px;
	margin-bottom: 30px;
	text-align: justify;
	color: #807D7D;
	font: 1.2rem 'Calistoga', serif;
}


/*Página Juventude*/
#pag-juventude{
	margin: 0 25px;
}

#pag-juventude img{
	width: 100%;
	margin-bottom: 40px;
}

#pag-juventude h1{
	text-align: left;
}

#pag-juventude p{
	margin-top: 15px;
	margin-bottom: 30px;
	text-align: justify;
	color: #807D7D;
	font: 1.2rem 'Calistoga', serif;
}

/*Página de Agendamentos*/

#pag-agendamentos p{
	text-align: center;
	margin-bottom: 20px;
	color: #807D7D;
	font: 1.2rem 'Calistoga', serif;
}

form{
	width: 600px;
	margin: 0 auto;

}

#container-agendamento{
	width: 100%;
	height: 450px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 150px;

}
#cor-fundo{
	background-color:#CFEEFF ;
	width: 700px;
	border: 3px solid #047BC1;
}

input{
	border-radius: 15px;
}

input, textarea{
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	padding-left: 5px;
	box-sizing: border-box;
	border: 1.3px solid #047BC1;
	
}

label, input, textarea{
	font: 1.2rem 'Calistoga', serif;
	color: #047BC1;
}

input::placeholder {
	color: #047BC1;
}

#data-hora{
	display: flex;
	justify-content: space-around;
}

textarea{
	height: 80px;
}

#botoes-form{
	display: flex;
}

input[type="submit"], input[type="reset"]{
	margin: 20px;
	background-color: #8BC34A;
	color: #FFF;
	border: 0;
	border-radius: 15px;
}

input[type="reset"]{
	background-color: #F47E7E;
}



/* Mobile */
@media screen and (max-width: 390px) {
	nav {
		height: 50px;
	}

	menu {
		display: flex;
		justify-content: center;
		align-items: center;


	}

	.social-icons{
		display: none;
		margin: 0;

	}

	.img-icones{
		display: none;
	}

	.menu-items {
		display: center;
		flex-direction: row;
		width: 100%;
	}

	.menu-items li a {
		font-size: 0.6rem;
		color: #333;
		text-decoration: none;
	}

	ul{
		margin-left: 10px;
	}

	#top-button{
		display: none;
	}

	#img-banner img{
		width: 100%;
	}

	#pag-igreja{
		padding: 1.5px;
	}

	h1{
		font-size: 1.2rem;
	}

	#pag-igreja p{
		font-size: 0.9rem;
	}

	#pag-igreja img{
		width: 100%;
		height: 80%;

	}

	.image{
		height: 50%;
	}

	.igreja-container{
		flex-direction: column;
	}


	.text{
		margin-bottom: 20px;
	}


	.image{
		text-align: center;
	}


	h3 {
		font-size: 1.5rem;
		margin: 10px 0;
	}

	#pag-programacao p{
		font-size: 0.8rem;
		text-align: left;
	}

	#pag-programacao {

	}

	#container-programacao {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#box-programacao {
		display: flex;
		flex-direction: column;
		position: static;
		width: 90%;
		max-width: 100%;
		height: auto;
		margin: 10px;
		background-color: #CFEEFF;
		padding: 10px;
	}
	table{
		margin: 0;
		padding: 0;
	}

	.flex-card {
		flex-direction: column;
	}

	.card {
		margin-bottom: 20px;
	}

	.atv-button {
		font-size: 0.8rem;
		height: 35px;
	}

	#pag-footer p {
		font-size: 0.8rem;
	}

	
}